.blog-div{
    background-color: rgb(214 196 196);
    margin-left: 200px;
    margin-right: 200px;
}

.blog-div p{
    text-align: center;

} 

.blog-heading p{

}

.blog-date p{
    text-align: center;
} 

.blog-content p{

}