.blog-component{
  margin-left: 400px;
}

.blog-header{
  width: 100%;
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 5em;
} 

.blog-title-heading{
  font-size: 30px;
}

.blog-title-date{
  font-size: 25px;
}

.blog-abstract{
  font-size: 20px;
  
}
