.blog{
    text-align: center;
    background-color: rgb(244, 241, 237,0.2);
    margin-left: 280px;
    margin-right: 300px;
    border-radius: 10px;
    
}

.blog-heading p{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: left;
}

.blog-date{
    font-size: 25px;
    margin-bottom: 0px;
    text-align: right;
    margin-left: 380px;
    margin-bottom: 0px;
    
}

.blog-abstract p{
    margin-top: 2px;
    margin-left: 15px;
    text-align: left;

}